body {
    background: #383838;
    color: white;
    font: normal 18px Arial;
}

section {
    width: 500px;
    background: white;
    color: #161616;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #161616;
}

#p1 {
    padding-top: 15px;
    padding-left: 20px;
}

#p2 {
    padding-left: 20px;
}

#ano {
    width: 108px;
}

footer {
    margin: auto;
    text-align: center;
}

#p3 {
    padding-left: 20px;
    padding-bottom: 20px;
}

#verif {
    font: normal 15px Arial;
}

h1 {
    text-align: center;
}