body {
    background: #383838;
    color: white;
    font: normal 18px Arial;
}

h1 {
    text-align: center;
}

footer {
    margin: auto;
    text-align: center;
    padding: 10px;
}

section {
    color: #161616;
    background: white;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    padding: 10px
}

#verif {
    font: normal 15px Arial;
}