body {
    background-color: #383838;
    color: white;
    text-align: center;
    font: normal 18px Arial;
}

section {
    width: 500px;
    margin: auto;
    background-color: white;
    color: #171717;
    box-shadow: 5px 5px 10px #171717;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    text-align: left;
}

footer {
    margin: auto;
    padding: 10px;
}

#seltab {
    width: 100px;
}